@use 'sass:color';

$primaryColor:#ada6d3 !default;
$primaryTextColor:#1d1c22 !default;
$accentColor:#f4dcee !default;
$accentTextColor:#1d1c22 !default;

:root {
    --spoiler-color: var(--red-600);
    --correct-color: var(--green-600);
    --incorrect-color: var(--surface-200);
    --not-guessed-color: var(--surface-50);
    --guess-border: var(--surface-700);
    --background-color: linear-gradient(to top,
        #{color.adjust($primaryColor, $lightness: -80%, $saturation: -15%)},
        85%,
        #{color.adjust($primaryColor, $lightness: -50%, $saturation: -15%)}
        );
}

@import '../../variables';
@import '../../../_compact';
