$primaryColor:#ada6d3 !default;
$primaryTextColor:#1d1c22 !default;
$accentColor:#a7bc4f !default;
$accentTextColor:#eeecf4 !default;

:root {
    --correct-color: var(--green-600);
    --incorrect-color: var(--surface-50);
    --not-guessed-color: var(--surface-0);
    --guess-border: var(--surface-700);
}

@import '../../variables';
@import '../../../_compact';